In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('API_SP.POP.TOTL.csv')
data

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54922.0,55578.0,56320.0,57002.0,57619.0,58190.0,...,107906,108727,108735,108908,109203,108587,107700,107310,107359,107624
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130075728.0,133534923.0,137171659.0,140945536.0,144904094.0,149033472.0,...,607123269,623369401,640058741,657801085,675950189,694446100,713090928,731821393,750503764,769294618
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,9035043.0,9214083.0,9404406.0,9604487.0,9814318.0,10036008.0,...,33831764,34700612,35688935,36743039,37856121,39068979,40000412,40578842,41454761,42647492
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,97630925.0,99706674.0,101854756.0,104089175.0,106388440.0,108772632.0,...,418127845,429454743,440882906,452195915,463365429,474569351,485920997,497387180,509398589,521764076
4,Angola,AGO,"Population, total",SP.POP.TOTL,5231654.0,5301583.0,5354310.0,5408320.0,5464187.0,5521981.0,...,28157798,29183070,30234839,31297155,32375632,33451132,34532429,35635029,36749906,37885849
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,Kosovo,XKX,"Population, total",SP.POP.TOTL,984846.0,1011421.0,1036950.0,1062737.0,1090270.0,1120168.0,...,1788274,1777568,1791019,1797086,1788891,1790151,1786079,1768096,1682668,1527324
261,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5532301.0,5655232.0,5782221.0,5911135.0,6048006.0,6195593.0,...,31159379,32109010,33090921,34085182,35111408,36134863,37140230,38222876,39390799,40583164
262,South Africa,ZAF,"Population, total",SP.POP.TOTL,16440172.0,16908035.0,17418522.0,17954564.0,18511361.0,19089380.0,...,56723537,57259551,57635162,58613001,59587885,60562381,61502603,62378410,63212384,64007187
263,Zambia,ZMB,"Population, total",SP.POP.TOTL,3153729.0,3254086.0,3358099.0,3465907.0,3577017.0,3692086.0,...,16399089,16914423,17441320,17973569,18513839,19059395,19603607,20152938,20723965,21314956
264,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3809389.0,3930401.0,4055959.0,4185877.0,4320006.0,4458462.0,...,14399013,14600294,14812482,15034452,15271368,15526888,15797210,16069056,16340822,16634373

In [4]:
data.rename(columns={
    data.columns[0]: "Country Name",
    data.columns[1]: "Country Code"
}, inplace=True)
data

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54922.0,55578.0,56320.0,57002.0,57619.0,58190.0,...,107906,108727,108735,108908,109203,108587,107700,107310,107359,107624
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130075728.0,133534923.0,137171659.0,140945536.0,144904094.0,149033472.0,...,607123269,623369401,640058741,657801085,675950189,694446100,713090928,731821393,750503764,769294618
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,9035043.0,9214083.0,9404406.0,9604487.0,9814318.0,10036008.0,...,33831764,34700612,35688935,36743039,37856121,39068979,40000412,40578842,41454761,42647492
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,97630925.0,99706674.0,101854756.0,104089175.0,106388440.0,108772632.0,...,418127845,429454743,440882906,452195915,463365429,474569351,485920997,497387180,509398589,521764076
4,Angola,AGO,"Population, total",SP.POP.TOTL,5231654.0,5301583.0,5354310.0,5408320.0,5464187.0,5521981.0,...,28157798,29183070,30234839,31297155,32375632,33451132,34532429,35635029,36749906,37885849
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,Kosovo,XKX,"Population, total",SP.POP.TOTL,984846.0,1011421.0,1036950.0,1062737.0,1090270.0,1120168.0,...,1788274,1777568,1791019,1797086,1788891,1790151,1786079,1768096,1682668,1527324
261,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5532301.0,5655232.0,5782221.0,5911135.0,6048006.0,6195593.0,...,31159379,32109010,33090921,34085182,35111408,36134863,37140230,38222876,39390799,40583164
262,South Africa,ZAF,"Population, total",SP.POP.TOTL,16440172.0,16908035.0,17418522.0,17954564.0,18511361.0,19089380.0,...,56723537,57259551,57635162,58613001,59587885,60562381,61502603,62378410,63212384,64007187
263,Zambia,ZMB,"Population, total",SP.POP.TOTL,3153729.0,3254086.0,3358099.0,3465907.0,3577017.0,3692086.0,...,16399089,16914423,17441320,17973569,18513839,19059395,19603607,20152938,20723965,21314956
264,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3809389.0,3930401.0,4055959.0,4185877.0,4320006.0,4458462.0,...,14399013,14600294,14812482,15034452,15271368,15526888,15797210,16069056,16340822,16634373

In [5]:
year_cols = [col for col in data.columns if col.isdigit()]
df = data[["Country Name", "Country Code"] + year_cols]
df

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Aruba,ABW,54922.0,55578.0,56320.0,57002.0,57619.0,58190.0,58694.0,58990.0,...,107906,108727,108735,108908,109203,108587,107700,107310,107359,107624
1,Africa Eastern and Southern,AFE,130075728.0,133534923.0,137171659.0,140945536.0,144904094.0,149033472.0,153281203.0,157704381.0,...,607123269,623369401,640058741,657801085,675950189,694446100,713090928,731821393,750503764,769294618
2,Afghanistan,AFG,9035043.0,9214083.0,9404406.0,9604487.0,9814318.0,10036008.0,10266395.0,10505959.0,...,33831764,34700612,35688935,36743039,37856121,39068979,40000412,40578842,41454761,42647492
3,Africa Western and Central,AFW,97630925.0,99706674.0,101854756.0,104089175.0,106388440.0,108772632.0,111246953.0,113795019.0,...,418127845,429454743,440882906,452195915,463365429,474569351,485920997,497387180,509398589,521764076
4,Angola,AGO,5231654.0,5301583.0,5354310.0,5408320.0,5464187.0,5521981.0,5581386.0,5641807.0,...,28157798,29183070,30234839,31297155,32375632,33451132,34532429,35635029,36749906,37885849
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,Kosovo,XKX,984846.0,1011421.0,1036950.0,1062737.0,1090270.0,1120168.0,1152586.0,1187667.0,...,1788274,1777568,1791019,1797086,1788891,1790151,1786079,1768096,1682668,1527324
261,"Yemen, Rep.",YEM,5532301.0,5655232.0,5782221.0,5911135.0,6048006.0,6195593.0,6351494.0,6516444.0,...,31159379,32109010,33090921,34085182,35111408,36134863,37140230,38222876,39390799,40583164
262,South Africa,ZAF,16440172.0,16908035.0,17418522.0,17954564.0,18511361.0,19089380.0,19690087.0,20314066.0,...,56723537,57259551,57635162,58613001,59587885,60562381,61502603,62378410,63212384,64007187
263,Zambia,ZMB,3153729.0,3254086.0,3358099.0,3465907.0,3577017.0,3692086.0,3812003.0,3936343.0,...,16399089,16914423,17441320,17973569,18513839,19059395,19603607,20152938,20723965,21314956
264,Zimbabwe,ZWE,3809389.0,3930401.0,4055959.0,4185877.0,4320006.0,4458462.0,4601217.0,4748307.0,...,14399013,14600294,14812482,15034452,15271368,15526888,15797210,16069056,16340822,16634373

In [6]:
df_unpivoted = df.melt(id_vars=["Country Name", "Country Code"],
                       var_name="Year",
                       value_name="Population")
df_unpivoted

                      Country Name Country Code  Year   Population
0                            Aruba          ABW  1960      54922.0
1      Africa Eastern and Southern          AFE  1960  130075728.0
2                      Afghanistan          AFG  1960    9035043.0
3       Africa Western and Central          AFW  1960   97630925.0
4                           Angola          AGO  1960    5231654.0
...                            ...          ...   ...          ...
17220                       Kosovo          XKX  2024    1527324.0
17221                  Yemen, Rep.          YEM  2024   40583164.0
17222                 South Africa          ZAF  2024   64007187.0
17223                       Zambia          ZMB  2024   21314956.0
17224                     Zimbabwe          ZWE  2024   16634373.0

[17225 rows x 4 columns]

In [7]:
df_unpivoted["Year"] = df_unpivoted["Year"].astype(int)
df_unpivoted["Population"] = pd.to_numeric(df_unpivoted["Population"], errors="coerce")

df_unpivoted

                      Country Name Country Code  Year   Population
0                            Aruba          ABW  1960      54922.0
1      Africa Eastern and Southern          AFE  1960  130075728.0
2                      Afghanistan          AFG  1960    9035043.0
3       Africa Western and Central          AFW  1960   97630925.0
4                           Angola          AGO  1960    5231654.0
...                            ...          ...   ...          ...
17220                       Kosovo          XKX  2024    1527324.0
17221                  Yemen, Rep.          YEM  2024   40583164.0
17222                 South Africa          ZAF  2024   64007187.0
17223                       Zambia          ZMB  2024   21314956.0
17224                     Zimbabwe          ZWE  2024   16634373.0

[17225 rows x 4 columns]

In [9]:
df_unpivoted.to_csv("CLEANED_TASK1.csv", index=False)
print("Cleaned file saved as CLEANED_TASK1.csv")

Cleaned file saved as CLEANED_TASK1.csv